@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
:root {

}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	line-height: 1.5 rem;
	font-size: 1.6 rem;
	font-family: 'IBM Plex Sans', sans-serif;
	text-rendering: optimizeSpeed;
}