.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    margin-top: var(--default-layout-header-height);
}

.pseudo-sidebar {
    width: var(--default-layout-sidebar-width);
}
.content {
    width: 100%;
}

/* responsive */
/* Tablet and Mobile */
@media (max-width: 1023px) {
    .pseudo-sidebar {
        width: var(--default-layout-sidebar-table-mobile);
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
