.menu {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 26px 8px;
    .item {
        display: flex;
        align-items: center;
        padding: 8px;
        margin-left: 4px;
        color: var(--text-color);
        text-decoration: none;
        border-radius: 4px;

        &.active {
            color: var(--primary-color);

            .activeIcon {
                display: block;
            }
            .icon {
                display: none;
            }
        }

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }

        .activeIcon {
            display: none;
        }
        .title {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.5rem;
            margin-left: 8px;
        }
    }
}

/* responsive */
/* Tablet and Mobile */
@media (max-width: 1023px) {
    .menu {
        padding-right: 8px;
    }
    .item {
        margin-left: 0 !important;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .title {
        display: none;
    }
}
/* Mobile */
@media (max-width: 739px) {
    .title {
        display: none;
    }
}
