.wrapper {
    padding: 16px 0;
    border-top: 1px solid #1618231f;
}
.title {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    color: #161823bf;
    padding: 0 8px;
    margin-bottom: 8px;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.account-picture {
    width: 3.2rem;
    height: 3.2em;
    margin-right: 8px;
    object-fit: cover;
    border-radius: 50%;
}
.account-info {
    color: var(--text-color);
    .name {
        display: flex;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 700;
    }

    .nickname {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
}
.icon {
    width: 1.4rem;
    height: 1.4em;
    color: #20d5ec;
    margin-top: -2px;
    margin-left: 4px;
}

.more-btn,
.less-btn {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    color: rgb(254, 44, 85);
    padding: 0 8px;
    margin-top: 8px;
    cursor: pointer;
    user-select: none;
}
