.wrapper {
    border-bottom: 1px solid rgba(22, 24, 35, 0.1215686275);
    .user-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .following-btn {
        height: 3.4rem;
    }
}

.account-item {
    display: flex;
    align-items: center;
    margin-top: 12px;
    user-select: none;

    .account-picture {
        width: 6rem;
        height: 6rem;
        margin: 10px 0 14px;
        border-radius: 50%;
    }
}

.account-info {
    margin-left: 10px;
    .name {
        font-size: 1.4rem;
        font-weight: 400;
    }
    .nickname {
        font-size: 1.8rem;
        display: inline;
        font-weight: 700;
        margin-right: 0.8rem;
    }

    .description {
        font-size: 1.6rem;
        font-weight: 500;
    }
}
.wrapper-content {
    margin-bottom: 20px;
}

.music {
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.music-icon {
    margin-right: 4px;
}

.video-wrapper {
    display: flex;

    .content-wrapper {
        position: relative;

        .control-wrapper {
            position: absolute;
            bottom: 26px;
            left: 0;
            display: flex;
            width: 100%;
            font-size: 2rem;
            justify-content: space-between;
            padding: 0 40px;
        }
        .control-icon {
            color: #fff;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.5s linear;
        }

        &:hover .control-icon {
            visibility: visible;
            opacity: 1;
        }
    }
}

.video {
    width: 276px;
    height: 510px;
    object-fit: fill;
    border-radius: 12px;
}

.interactive-user {
    align-self: flex-end;
    margin-left: 30px;
    margin-bottom: 10px;
    user-select: none;
}
