.wrapper {
	--search-btn-width: 52px;
	--header-height: 46px;
	--element-after-search-btn-height: 28px;
	--search-border-radius: 92px;
	height: var(--default-layout-header-height);
	width: 100%;
	box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
	display: flex;
	justify-content: center;
}

.inner {
	width: var(--default-layout-header-width);
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--default-layout-header-spacer);
}

.logo {
	cursor: pointer;
}

.search-result,
.search {
	width: 361px;
}
.search {
	position: relative;
	display: flex;
	height: var(----header-height);
	padding-left:16px;
	border: 1.5px solid transparent;
	border-radius: var(--search-border-radius);
	background-color: rgba(22, 24, 35, .06);
	
	input {
		flex: 1;
		font-size: 1.6rem;
		color: rgb(22, 24, 35);
		caret-color:var(--primary-color);
		background-color: transparent;
	}

	input:not(:placeholder-shown) ~.search-btn {
		color:rgba(22, 24, 35, 0.75);
	}
	&:focus-within {
		border-color: rgba(22, 24, 35, .2);
	}
	
}

.search-title {
	padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 500;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
	position: absolute;
	top:50%;
	right:calc(var(--search-btn-width) + 14px);
	transform: translateY(-50%);
	font-size: 1.5rem;
	color: rgba(22, 24, 35, 0.34);
}

.search-btn {
	position: relative;
	width: var(--search-btn-width);
	height: var(--header-height);
	font-size: 2rem;
	color: rgba(22, 24, 35, 0.34);
	cursor: pointer;
	border-top-right-radius: var(--search-border-radius);
	border-bottom-right-radius: var(--search-border-radius);

	&:hover {
		background-color: rgba(22, 24, 35, .03);
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left:0px;
		transform: translateY(-50%);
		width: 1px;
		height: var(--element-after-search-btn-height);
		background-color:rgba(37, 40, 56, 0.34);
	}
	&:active {
		background: rgba(22, 24, 35, .06);
	}
}


.action {
	display: flex;
}

.more-btn {
	margin-left: 24px;
	padding: 4px 8px;
	font-size: 1.8rem;
	background-color: transparent;
	cursor: pointer;
}

.action-icon {
	font-size: 2.2rem;
	margin-left: 22px;
	cursor: pointer;
	background-color: transparent;
}

.messages-icon {
	height: 100%;	
}

.inbox-icon {
	height: 100%;	
}


.personal-avatar {
	width: 32px;
	height: 32px;
	margin-left: 22px;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;

}